<div class="container">
  <div class="path_info_container">
    <%= link_to_school @school.name, @school %>
    <p>></p>
    <p><%= @group.name %></p>
  </div>
  <div class="wrap">
    <h4>Schedules:</h4>
    <ul class="list">
      <% @group.schedules.each do |schedule| %>
        <% unless schedule.name.nil? %>
          <li>
            <%= link_to schedule.name, school_group_schedule_path(@school,@group,schedule) %>
            <% if owner_of_the_group?(@group) %>
              <%= link_to 'Delete', school_group_schedule_path(@school,@group,schedule), data: {confirm: 'Are you sure?'}, method: :delete, class: 'right' %>
              <%= link_to 'Edit', edit_school_group_schedule_path(@school,@group,schedule), class: 'right' %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    <ul>
    <% if owner_of_the_group?(@group) %>
      <div class="new_school_group_wrapper">
        <div class="arrow"></div>
        <div class="new_school_group">
          <h1>Add Schedule:</h1>
          <%= form_for @schedule do |f| %>
            <%= hidden_field_tag :user, @user.id %>
            <%= hidden_field_tag :group, @group.id %>
            <div class="form_element">
              <%= f.label :name, 'Name:' %>
              <%= f.text_field :name %>
            </div>
            <div class="form_element">
              <%= f.label :weeks, 'Multiple weeks' %>
              <%= f.check_box :weeks %>
            </div>
            <div class="form_element">
              <%= f.submit %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  	<% if @group.schedules.count == 0 %>
  	  <h6>There are no schedules in this group.
  	  	<% if @user == current_user %>
  	  	  You can <b id='add_schedule'>add</b> new schedule.</h6>
  	  	<% end %>
  	<% end %>
  </div>
</div>