<div class="container">
	<h1>Schedule-Manager - solution for universities or schools, where you can keep your schedule.</h1>
	<div class="sign_form">
		<h2>Sign Up</h2>
		<%= form_for @user do |f| %>
			<%= f.text_field :name, placeholder: 'Username' %>
			<%= f.password_field :password, placeholder: 'Password' %>
			<%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
			<%= f.submit %>
		<% end %> 
	</div>
</div>