<div class="header">
	<div class="container">
		<div class="h1_container"><h1>Schedule-Manager</h1></div>
		<div class="switcher_container">
			<div id="switch1" class="switch switch_clicked">Week 1</div>
			<div id="switch2" class="switch">Week 2</div>
			<div id="switch3" class="switch">All</div>
		</div>
		<div class="h1_container"><h1><%= @schedule.name %></h1></div>
		<div class="control_container">
			<div class="switch" id="add_item">Add Item</div>
		</div>
		<div id="add_item_container" class="hidden">
		</div>
	</div>
</div>
<div class="container">
<table class='schedule'>
		<tr>
			<th></th>
			<th><p>Monday</p></th>
			<th><p>Tuesday</p></th>
			<th><p>Wednesday</p></th>
			<th><p>Thursday</p></th>
			<th><p>Friday</p></th>
			<th><p>Saturday</p></th>
		</tr>
	<% (1..6).each do |k| %>
		<tr>
				<td class='first_column'><p><%= @positions[k-1] %></p></td>
			<% (1..6).each do |l| %>
				<td>
					<table class="cell">
						<tr>
						<td class='week1' data-id="<%= @items[k][l][0].id if @items[k][l][0] %>">
							<% if @items[k][l][0] %>
								<h3><%= @items[k][l][0].name %></h3>
								<p><%= @items[k][l][0].teacher %></p>
								<p class='loc'><%= @items[k][l][0].location %></p>
							<% end %>
						</td>
						</tr>
						<tr>
							<td class='week2 hidden' data-id="<%= @items[k][l][1].id if @items[k][l][1] %>">
								<% if @items[k][l][1] %>
									<h3><%= @items[k][l][1].name %></h3>
									<p><%= @items[k][l][1].teacher %></p>
									<p class='loc'><%= @items[k][l][1].location %></p>
								<% end %>
							</td>
						</tr>
					</table>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>
</div>
<script type="text/javascript">
	var switch1 = $('#switch1'),
	    switch2 = $('#switch2'),
	    switch3 = $('#switch3'),
	    add_item = $('#add_item'),
	    add_item_container = $('#add_item_container'),
	    week1 = $('td.week1'),
	    week2 = $('td.week2');
	add_item.on('click', function(){
		add_item.toggleClass('switch_clicked');
		add_item_container.toggleClass('hidden');
		var right = $(document).width()-add_item.width()-add_item.offset().left-46;
		right = right.toFixed()+'px'
		add_item_container.css('right',right);
	});
	switch1.on('click', function(){
		switch1.addClass('switch_clicked');
		switch2.removeClass('switch_clicked');
		switch3.removeClass('switch_clicked');
		week1.removeClass('hidden');
		week2.addClass('hidden');
		$('table.cell td').removeClass('padding10');
		week1.removeClass('grey');
		week2.removeClass('red');
		$('table.schedule').removeClass('small_font');
	});
	switch2.on('click', function(){
		switch1.removeClass('switch_clicked');
		switch3.removeClass('switch_clicked');
		switch2.addClass('switch_clicked');
		week1.addClass('hidden');
		week2.removeClass('hidden');
		$('table.cell td').removeClass('padding10');
		week1.removeClass('grey');
		week2.removeClass('red');
		$('table.schedule').removeClass('small_font');
	});
	function gogo() {
		switch1.removeClass('switch_clicked');
		switch2.removeClass('switch_clicked');
		switch3.addClass('switch_clicked');
		week1.removeClass('hidden');
		week2.removeClass('hidden');
		$('table.cell td').addClass('padding10');
		week1.addClass('grey');
		week2.addClass('red');
		week2.each(function(){
			var week2i = $(this),
				table = week2i.closest('table.cell'),
				week1i = table.find('td.week1'),
				data1 = week1i.attr('data-id'),
				data2 = week2i.attr('data-id');
			if ( data1 == data2 ) {
				week2i.addClass('hidden');
				week1i.removeClass('grey');
			}
			else {
				if (week1i.attr('data-id').length==0) {
					var height = week2i.height()-10;
					week1i.css('height',height);
				}
				else {
					if (week2i.attr('data-id').length==0) {
						var height = week1i.height()-10;
						week2i.css('height',height);
					}
				}
			}
		});
		$('table.schedule').addClass('small_font');
	};
	switch3.on('click', function(){
		gogo();
	});
	$('.schedule>*>tr').last().css('display','none');
	gogo();
</script>