<pre id="def_week" class="hidden"><%= define_week(@schedule) if @schedule.weeks_counter %></pre>
<pre id="def_day" class="hidden"><%= @day %></pre>
<div class="flash_message" id="flash">
	<h1><%= weeks_count_flash_message(@schedule) %></h1>
</div>
<div class="flash_message" id="flash_red">
	<h1><%= weeks_count_red_flash_message(@schedule) if @schedule.user == current_user %></h1>
</div>
<% if current_user == @schedule.user %>
<div id="add_item_container" class="hidden">
	<div class="container">
	<h1 class="red_h1">Add Lesson:</h1>
	<%= form_for @item, format: :json, remote: true do |f| %>
		<%= hidden_field_tag :schedule, @schedule.id %>
		<div class="front_row_item">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div class="front_row_item">
			<%= f.label :teacher %>
			<%= f.text_field :teacher %>
		</div>
		<div class="front_row_item">
			<%= f.label :location %>
			<%= f.text_field :location %>
		</div>
		<div class="bottom_row_item">
			<%= f.label :position, 'Lesson #' %>
			<%= f.select :position, (1..5) %>
		</div>
		<div class="bottom_row_item">
			<%= f.label :day %>
			<%= f.select :day, [['Monday',1],['Tuesday',2],['Wednesday',3],['Thursday',4],['Friday',5],['Saturday',6]] %>
		</div>
		<% if @schedule.weeks %>
			<div class="weeks_container">
				<div class='weeks'>
					<%= f.label :week1, 'Week 1:' %>
					<%= f.check_box :week1 %>
				</div>
				<div class="weeks">
					<%= f.label :week2, 'Week 2:' %>
					<%= f.check_box :week2 %>
				</div>
			</div>
		<% end %>
		<%= f.submit 'Create lesson', class: 'lesson_form_button' %>
		<input type="button" id="close" value="Close" />
	<% end %>
	</div>
</div>
<div id="edit_item_container" class="form_container pretty_container" style="display: none">
</div>
<% end %>
<div class="container" id="main_container">
<table class='schedule'>
		<tr>
			<th></th>
			<th><p>Monday</p></th>
			<th><p>Tuesday</p></th>
			<th><p>Wednesday</p></th>
			<th><p>Thursday</p></th>
			<th><p>Friday</p></th>
			<th><p>Saturday</p></th>
		</tr>
	<% (1..6).each do |k| %>
		<tr>
				<td class='first_column'>
				<% @lesson = @schedule["lesson#{k}".to_sym] %>
				<%= @lesson.blank? ? @positions[k-1] : ( render partial: "shared/hours", locals: {lesson: @lesson} ) %>
				</td>
			<% (1..6).each do |l| %>
				<td>
					<table class="cell">
						<tr>
						<td class='week1' data-id="<%= @items[k][l][0].id if @items[k][l][0] %>">
							<% if @items[k][l][0] %>
								<h3><%= @items[k][l][0].name %></h3>
								<p><%= @items[k][l][0].teacher %></p>
								<p class='loc'><%= @items[k][l][0].location %></p>
							<% else %>
								<h3></h3>
								<p></p>
								<p class='loc'></p>
							<% end %>
						</td>
						</tr>
						<tr>
							<td class='week2 hidden' data-id="<%= @items[k][l][1].id if @items[k][l][1] %>">
								<% if @items[k][l][1] %>
									<h3><%= @items[k][l][1].name %></h3>
									<p><%= @items[k][l][1].teacher %></p>
									<p class='loc'><%= @items[k][l][1].location %></p>
								<% else %>
									<h3></h3>
									<p></p>
									<p class='loc'></p>
								<% end %>
							</td>
						</tr>
					</table>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>
</div>
<script type="text/javascript">
	var switch1 = $('#switch1'),
	    switch2 = $('#switch2'),
	    switch3 = $('#switch3'),
	    add_item = $('#add_item'),
	    add_item_container = $('#add_item_container'),
	    schedule_editing = $('#schedule_editing'),
	    week1 = $('td.week1'),
	    week2 = $('td.week2'),
	    new_item = $('#new_item'),
	    settings_container = $('#settings_container'),
	    first_column = $('.first_column');
	    schedule_editing_clicked = false;
	function RenderError(msg) {
		$('#error_message>p').text(msg);
		$('#error_message').fadeIn(200);
	};
	function RenderLessonEdit(id) {
		console.log(id);
	};
	function SetIcons() {
		$('.edit_lessons').remove();
		var cleft = $('#main_container').offset().left,
			ctop = $('#main_container').offset().top;
		$.each($('table.schedule table.cell>*>*>td'), function(index, value){
			elem = $(value);
			if (elem.attr('data-id')!='') {
				if (!elem.hasClass('hidden')) {
					var cell = elem.closest('table.cell').parent(),
						id = elem.attr('data-id'),
						edit_lesson = $('<div style="display: none;" class="edit_lessons"><div class="edit_lessons_wrapper"><div class="edit_lessons_inner"><a class="edit_icon" href="/items/'+id+'/edit.js" data-remote="true"></a><a class="delete_icon" href="/items/'+id+'" data-confirm="Are you sure?" data-method="delete" rel="nofollow"></a></div></div></div>').appendTo('#main_container');
					if (switch3.hasClass('switch_clicked')) {
						edit_lesson.offset({top: elem.offset().top-ctop, left:elem.offset().left-cleft });
						edit_lesson.height(elem.height()+20);
						edit_lesson.width(elem.width()+20);
					}
					else {
						edit_lesson.offset({top: cell.offset().top-ctop, left:cell.offset().left-cleft });
						edit_lesson.height(cell.height());
						edit_lesson.width(cell.width());
					}
					edit_lesson.fadeIn(300);
				}
			}
		});
		$('a.edit_icon').on('click',function(){ $('.edit_lessons').remove(); console.log('fsd') })
		schedule_editing_clicked = true;
	};
	add_item.on('click', function(){
		add_item_container.slideDown(200);
	});
	$('#close').on('click', function(){
		add_item_container.slideUp(200);
	})
	schedule_editing.on('click', function(){
		if (schedule_editing_clicked) {
			$('.edit_lessons').remove();
			settings_container.hide();
			schedule_editing_clicked = false;
		}
		else { 
			settings_container.hide();
			SetIcons();
		}
	});
	function gogo1(){
		switch1.addClass('switch_clicked');
		switch2.removeClass('switch_clicked');
		switch3.removeClass('switch_clicked');
		week1.removeClass('hidden');
		week2.addClass('hidden');
		$('table.cell td').removeClass('padding10');
		week1.removeClass('grey');
		week2.removeClass('red');
		$('table.schedule').removeClass('small_font');
		first_column.addClass('whiteSmoke');
		if (schedule_editing_clicked) SetIcons();
	};
	function gogo2(){
		switch1.removeClass('switch_clicked');
		switch3.removeClass('switch_clicked');
		switch2.addClass('switch_clicked');
		week1.addClass('hidden');
		week2.removeClass('hidden');
		$('table.cell td').removeClass('padding10');
		week1.removeClass('grey');
		week2.removeClass('red');
		$('table.schedule').removeClass('small_font');
		first_column.addClass('whiteSmoke');
		if (schedule_editing_clicked) SetIcons();
	};
	switch1.on('click', function(){
		gogo1();
	});
	switch2.on('click', function(){
		gogo2();
	});
	function gogo() {
		first_column.removeClass('whiteSmoke');
		switch1.removeClass('switch_clicked');
		switch2.removeClass('switch_clicked');
		switch3.addClass('switch_clicked');
		week1.removeClass('hidden');
		week2.removeClass('hidden');
		$('table.cell td').addClass('padding10');
		week1.addClass('grey');
		week2.addClass('red');
		week2.each(function(){
			var week2i = $(this),
				table = week2i.closest('table.cell'),
				week1i = table.find('td.week1'),
				data1 = week1i.attr('data-id'),
				data2 = week2i.attr('data-id');
			if ( data1 == data2 ) {
				week2i.addClass('hidden');
				week1i.removeClass('grey');
			}
			else {
				if (week1i.attr('data-id').length==0) {
					var height = week2i.height()-10;
					week1i.css('height',height);
				}
				else {
					if (week2i.attr('data-id').length==0) {
						var height = week1i.height()-10;
						week2i.css('height',height);
					}
				}
			}
		});
		$('table.schedule').addClass('small_font');
	};
	switch3.on('click', function(){
		gogo();
		if (schedule_editing_clicked) SetIcons();
	});
	gogo();

	//bind items create ajax
	new_item.bind('ajax:success', function(evt, data, status, xhr) {
    	console.log("ajax:success");
    	console.log(data);
    	if (data != 'Error') {
    		var td = $($('table.schedule>*>*>td')[(data.position-1)*7+data.day]);
    		if (data.week1) {
    			var tr = td.find('tr').first();
    			tr.find('td').attr('data-id',data.id);
    			tr.find('h3').append(data.name);
    			tr.find('p').first().append(data.teacher);
    			tr.find('p.loc').append(data.location);
    		};
    		if (data.week2) {
    			var tr = td.find('tr').last();
    			tr.find('td').attr('data-id',data.id);
    			tr.find('h3').append(data.name);
    			tr.find('p').first().append(data.teacher);
    			tr.find('p.loc').append(data.location);
    		};
    		gogo();
    		$('#item_name').val('');
    		$('#item_teacher').val('');
    		$('#item_location').val('');
    		$('#item_week1').prop('checked',false);
    		$('#item_week2').prop('checked',false);
    		$('#new_item input[type="submit"]').removeAttr('disabled','disabled');
			add_item.removeClass('switch_clicked');
			add_item_container.addClass('hidden');
    	}
    	else {
    		if (data == 'Error') {
    			RenderError('ERROR! Something went wrong!');
    			$('#new_item input[type="submit"]').removeAttr('disabled','disabled');
    		}
    	}
	});
	new_item.submit( function(){
		var weeks = $('.weeks'),
			name = $('#item_name');
		name.removeClass('red');
		weeks.removeClass('red');
		if (!$('#item_week1').is(':checked') && !$('#item_week2').is(':checked')){
			weeks.addClass('red');
			return false;
		};
		if (name.val().length < 3) {
			name.addClass('red');
			return false;
		}
		else {
			$('#new_item input[type="submit"]').attr('disabled','disabled');
		}
	});
	<% if @schedule.weeks_counter %>
		var def_week = $('#def_week').text(),
			def_day = $('#def_day').text(),
			flash = $('#flash'),
			flash_red = $('#flash_red');
		if (def_week == 'Week 1') gogo1();
		if (def_week == 'Week 2') gogo2();
		if (flash.find('h1').text() != '') {
			flash.delay(1500).slideDown(800 ,function() {flash.addClass('shadow')});
		};
		flash.on('click', function(){
			flash.removeClass('shadow');
			flash.slideUp(800);
			if (flash_red.find('h1').text() != '') {
				flash_red.delay(3000).slideDown(800 ,function() {flash.addClass('shadow')});
			};
		});
		flash_red.on('click', function(){
			flash_red.removeClass('shadow');
			flash_red.slideUp(800);
		});
		if ((def_day == '0') && ($.cookie('sunf')=="true")) {
			if (def_week == 'Week 1') gogo2();
			else if (def_week == 'Week 2') gogo1();
		}
	<% end %>
</script>