<% if @schedule.weeks %>
	<div class="switcher_container">
		<div id="switch1" class="switch switch_clicked"><p>Week 1</p></div>
		<div id="switch2" class="switch"><p>Week 2</p></div>
		<div id="switch3" class="switch"><p>All</p></div>
	</div>
<% end %>
<% if current_user == @schedule.user %>
	<div class="control_container">
		<div class="switch" id="schedule_editing"><p>Edit Lessons</p></div>
		<div class="switch" id="add_item"><p>Add Lesson</p></div>
	</div>
	<div id="add_item_container" class="hidden">
		<%= form_for @item, format: :json, remote: true do |f| %>
			<%= hidden_field_tag :schedule, @schedule.id %>
			<%= f.label :name %>
			<%= f.text_field :name %>
			<%= f.label :teacher %>
			<%= f.text_field :teacher %>
			<%= f.label :location %>
			<%= f.text_field :location %>
			<%= f.label :position, 'Lesson #' %>
			<%= f.select :position, (1..5) %>
			<%= f.label :day %>
			<%= f.select :day, [['Monday',1],['Tuesday',2],['Wednesday',3],['Thursday',4],['Friday',5],['Saturday',6]] %>
			<% if @schedule.weeks %>
				<div class='weeks'>
					<%= f.label :week1, 'Week 1:' %>
					<%= f.check_box :week1 %>
				</div>
				<div class="weeks">
					<%= f.label :week2, 'Week 2:' %>
					<%= f.check_box :week2 %>
				</div>
			<% end %>
			<%= f.submit 'Create lesson' %>
		<% end %>
	</div>
<% end %>