<div class="header">
	<div class="container">
		<div class="h1_container"><h1>Schedule-Manager</h1></div>
	</div>
</div>
<div class="container">
<h1>Schedule-Manager - solution for universities or schools, where you can keep your schedule.</h1>
<% unless signed_in? %>
	<%= form_for :session, url: sessions_path do |f| %>
		<%= f.text_field :name, placeholder: 'Username' %>
		<%= f.password_field :password, placeholder: 'Password' %>
		<%= f.submit 'Sign In' %>
	<% end %>
	<%= link_to 'Sign Up', new_user_path %>
<% else %>
	<div class="user_info">
		<p class="user">Signed in as<i> <%= @user.name %></i></p>
		<%= link_to 'Sign Out', signout_path, method: "delete" %>
	</div>
	<div class="content">
		<div class="content_box schedules_container">
			<ul class="schedules">
				<li class="top">My Schedules:</li>
				<% @schedules.each do |schedule| %>
					<% if schedule.name %>
						<li>
							<%= link_to schedule.name, schedule %>
							<%= link_to 'Edit', edit_schedule_path(schedule), class: 'schedule_control_links' %>
							<%= link_to 'Delete', schedule, data: {confirm: 'Are you sure?'}, method: :delete, class: 'schedule_control_links' %>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
		<div class="content_box schedule_new">
			<%= form_for @schedule, format: :json, remote: true do |f| %>
				<p class="top">Create new schedule:</p>
				<%= hidden_field_tag :user, @user.id %>
				<%= f.label :name %>
				<%= f.text_field :name %>
				<%= f.label :weeks, 'Multiple weeks' %>
				<%= f.check_box :weeks %>
				<%= f.submit %>
			<% end %>
		</div>
	</div>
	<script type="text/javascript">
		var new_schedule = $('#new_schedule');
		new_schedule.bind('ajax:success', function(evt, data, status, xhr) {
    		console.log("ajax:success");
    		console.log(data);
    		if (data != "Error") {
    			$('ul.schedules').append('<li><a href="/schedules/'+data.id+'">'+data.name+'</a><a href="/schedules/'+data.id+'/edit" class="schedule_control_links">Edit</a><a href="/schedules/'+data.id+'" class="schedule_control_links" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a></li>');
    			$('#new_schedule input[type="submit"]').removeAttr('disabled','disabled');
    		}
		});
		new_schedule.submit( function() {
			var name = $('#schedule_name');
			name.removeClass('red');
			if ((name.val().length < 3) || (name.val().length > 20)) {
				name.addClass('red');
				return false;
			}
			else {
				$('#new_schedule input[type="submit"]').attr('disabled','disabled');
				return true
			}
		});
	</script>
<% end %>