<h1>Schedule-manager - solution for universities or schools, which can't afford their own website to show their schedule of the lessons on.</h1>
<% unless signed_in? %>
	<%= form_for :session, url: sessions_path do |f| %>
		<%= f.text_field :name, placeholder: 'Username' %>
		<%= f.password_field :password, placeholder: 'Password' %>
		<%= f.submit 'Sign In' %>
	<% end %>
	<%= link_to 'Sign Up', new_user_path %>
<% else %>
	<ul>
		<% @schedules.each do |schedule| %>
			<li><%= link_to schedule.name, schedule %></li>
		<% end %>
	</ul>
	<%= link_to 'Sign Out', signout_path, method: "delete" %>
<% end %>