<h1>Schedule-manager - solution for universities or schools which can't afford their own website to show their schedule on.</h1>
<% unless signed_in? %>
	<%= form_for :session, url: sessions_path do |f| %>
		<%= f.text_field :name, placeholder: 'Username' %>
		<%= f.password_field :password, placeholder: 'Password' %>
		<%= f.submit 'Sign In' %>
	<% end %>
<% else %>
	<%= link_to 'Sign Out', signout_path, method: "delete" %>
<% end %>