<!DOCTYPE html>
<html>
<head>
  <title>ScheduleManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38970080-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
<div class="header">
  <div class="container">
    <div class="h1_container"><a class="root" href="<%= root_path %>"></a></div>
    <div id="settings"></div>
    <div class="absolute_container">
      <div id="settings_container" style="display: none;">
        <div class="blip"></div>
        <ul id="settings_nav">
          <li id="sunf_control">Start week from Sunday<input id="sunf_control_check" type="checkbox"/></li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
    //settings container switch
      var settings = $('#settings'),
          settings_container = $('#settings_container'),
          on_flag = false;
      settings.on('click', function(){
        settings_container.toggle();
        on_flag = true;
      });
      settings_container.on('click', function(){
        on_flag = true;
      });
      $(document).on('click',function(){ 
        if (on_flag) {
          on_flag = false;
          return;
        }
        settings_container.hide();
      });
    //end
    //sunday feature
      var sunf_control = $('#sunf_control'),
          sunf_control_check = document.getElementById("sunf_control_check");
      if ($.cookie('sunf') == "true") sunf_control_check.checked=true;
      function sunf_set(){
        if ($.cookie('sunf') == "true") {
          $.cookie('sunf','false', { expires: 360 });
          sunf_control_check.checked=false;
        }
        else {
          $.cookie('sunf','true', { expires: 360 });
          sunf_control_check.checked=true;
        }
      };
      sunf_control.on('click', function(){
        sunf_set();
      });
    //end
    </script>
    <%= render partial: "shared/header_schedule" if params[:controller]=='schedules' && params[:action]=='show' %>
  </div>
</div>
<%= yield %>
<div id="error_message" style="display: none">
  <p></p>
</div>
<script type="text/javascript">
  var error_message = $('#error_message');
  error_message.on('click', function(){
    error_message.fadeOut(200);
  });
</script>
</body>
</html>
